# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    
    permissions:
      actions: read
      contents: read
      security-events: write
        
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: java
    
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test_results
        path: |
          target/surefire-reports/*.xml

    - name: Upload Coverage Reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: coverage_reports
        path: |
          target/site/jacoco/jacoco.xml
          
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
    
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: event_file
        path: ${{ github.event_path }}
